.line__deco::before {
  @include content-b;
  top: 52%;
}

.line__deco::after {
  @include content-b;
  top: 51%;
}

.vs-text {
  position: relative;
  margin-bottom: -8px;
  z-index: 1;
  @include rectangle;
  color: $white-300;
  border-radius: 50%;
  text-align: center;
}

.info_card {
  border: 1px solid $white-200;
}

.op__image {
  width: 100%;
}

.bottom__tag {
  margin-top: -30px;

  > a {
    display: inline-block;
    background-color: #c2d4d7;
    text-decoration: none;
  }
}

.card-box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2px 10px;
  color: $red;
  font-weight: bold;
  &.card-box-secondary {
    color: #3581f4;
  }
  &.card-box-primary {
    background-color: var(--red);
    color: #fff;
  }
}

.input-box {
  border: 1px solid transparent;
  outline: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.search-input {
  top: 20%;
  right: 0;
  transform: translateX(-50%);
  width: 100px;
}

.search-icon {
  @include side-3;
  margin-right: 12px;
}

.bottom-left {
  @include bottom-left;
}

.after {
  font-weight: 700;
}
