.main-wrapper {
  @media only screen and (min-width: 1325px) {
    max-width: 1300px;
    margin: 0 auto;
  }
}

.debate-card {
  border-top: 4px solid $border-gray;
  border-bottom: 4px solid $border-gray;
}

.custom-img {
  width: 100%;
  height: auto;
}

.signup-img {
  @include rectangle(30px, 30px);
}

.signup-btn {
  border: 0;
  width: 100%;
}

.left-50 {
  left: 50%;
}
