.background-red {
  background-color: var(--red);
}
.background-yellow {
  background-color: var(--yellow);
}

@media only screen and (min-width: 768px) {
  .md\:full-white {
    background-color: white;
  }
}

.bg-custom-primary {
  background-color: #f72210;
}

.bg-custom-graylighter {
  background-color: #f4f5f6;
}
.bg-custom-black {
  background-color: black;
}

.hover\:text-decoration-none:hover {
  text-decoration: none;
}

.hover\:underline-primary:hover {
  text-decoration: underline;
  text-decoration-color: #f72210;
}
