.bg-primary-red {
  background-color: var(--red);
}

.background-yellow {
  background-color: var(--yellow);
}

@media only screen and (min-width: 768px) {
  .md\:full-white {
    background-color: white;
  }
}

.bg-graylighter {
  background-color: var(--light-gray);
}

.hover\:text-decoration-none:hover {
  text-decoration: none;
}

.hover\:underline-primary:hover {
  text-decoration: underline;
  text-decoration-color: var(--red);
}
