.background-red {
  background-color: var(--red);
}
.background-yellow {
  background-color: var(--yellow);
}

@media only screen and (min-width: 768px) {
  .md\:full-white {
    background-color: white;
  }
}
