.card_header {
  color: var(--gray-400);
}

.image_container {
  position: relative;
}
.category > a {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--red) !important;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.card_1 p {
  font-size: 12px;
}
.card_1 a {
  text-decoration: none;
  color: black;
}
.card_1 a:hover {
  text-decoration: underline;
  text-decoration-color: var(--red);
}

.anchor_text {
  font-size: 1.2rem;
}
