body {
  font-family: "Roboto Condensed", sans-serif;
}

.card_header {
  color: var(--gray-400);
}

.image_container {
  position: relative;
}

.category > span {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 0;
}

.card_1 p {
  font-size: 12px;
}

.anchor_text {
  font-size: 1.2rem;
}

.card_1 .anchor_text {
  text-decoration: none;
  color: black;
}

.card_1 .anchor_text:hover {
  text-decoration: underline;
  text-decoration-color: var(--red);
}

hr {
  border-color: #f4f5f7;
}

a:hover {
  color: black;
  text-decoration: none;
}

.none-border {
  border: 0;
}

.none-radius {
  border-radius: 0;
}

.sticky {
  position: sticky;
  top: 60px;
}
