.line__deco::before {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--border-gray);
  height: 1px;
  left: 0;
  right: 0;
  top: 52%;
}

.line__deco::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--border-gray);
  height: 1px;
  left: 0;
  right: 0;
  top: 51%;
}

.vs-text {
  position: relative;
  margin-bottom: -8px;
  z-index: 1;
  width: 32px;
  height: 32px;
  color: #d6d6d6;
  border-radius: 50%;
  text-align: center;
}

.info_card {
  border: 1px solid #e6e6e6;
}

.op__image {
  width:100%;
}

.bottom__tag > a {
  display: inline-block;
  background-color: #c2d4d7;
  text-decoration: none;
}

.bottom__tag {
  margin-top: -30px;
}

.card-box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2px 10px;
  color: #f72210;
  font-weight: bold;
}

.card-box.card-box-secondary {
  color: #3581f4;
}

.card-box.card-box-primary {
  background-color: #f72210;
  color: #fff;
}

.input-box {
  border: 1px solid transparent;
  outline: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.search-input {
  top: 20%;
  right: 0;
  transform: translateX(-50%);
  width: 100px;
}

.search-icon {
  top: 0;
  bottom: 0;
  right: 0;
  margin-right: 12px;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.after {
  font-weight: 700;
}
