.debate {
  position: relative;
}

.line__deco::before {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--border-gray);
  height: 1px;
  left: 0;
  right: 0;
  top: 62%;
  margin-left: 16px;
  margin-right: 16px;
}

.line__deco::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--border-gray);
  height: 1px;
  left: 0;
  right: 0;
  margin-left: 16px;
  margin-right: 16px;
  top: 63%;
}

.vs-text {
  position: relative;
  margin-bottom: -25px;
  z-index: 1;
  width: 32px;
  height: 32px;
  color: #d6d6d6;
  border-radius: 50%;
  text-align: center;
}

.info_card {
  border: 1px solid #e6e6e6;
}

.op__image {
  max-width: fit-content;
}

.bottom__tag > a {
  display: inline-block;
  background-color: #c2d4d7;
  text-decoration: none;
}

.bottom__tag {
  margin-top: -15px;
}

.logo {
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  margin-right: 10px;
}

.sign {
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
  max-width: 320px;
  margin: 0 auto 30px;
}

#email {
  width: 100%;
  height: 32px;
  line-height: 32px;
  border: 1px solid #e0e1e1;
  margin-bottom: 10px;
  text-indent: 6px;
}

.form__button {
  background-color: #f61602;
  width: 100%;
  height: 32px;
  line-height: 32px;
}
