.debate {
  position: relative;
}

.debate-card {
  position: relative;
}

.line__deco::before {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--border-gray);
  height: 1px;
  left: 0;
  right: 0;
  top: 52%;
}

.line__deco::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--border-gray);
  height: 1px;
  left: 0;
  right: 0;
  top: 51%;
}

.vs-text {
  position: relative;
  margin-bottom: -8px;
  z-index: 1;
  width: 32px;
  height: 32px;
  color: #d6d6d6;
  border-radius: 50%;
  text-align: center;
}

.info_card {
  border: 1px solid #e6e6e6;
}

.op__image {
  width: 100%;
}

.bottom__tag > a {
  display: inline-block;
  background-color: #c2d4d7;
  text-decoration: none;
}

.bottom__tag {
  margin-top: -30px;
}

.logo {
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background:
    url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  margin-right: 10px;
}

.sign {
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
  max-width: 320px;
  margin: 0 auto 30px;
}

#email {
  width: 100%;
  height: 32px;
  line-height: 32px;
  border: 1px solid #e0e1e1;
  margin-bottom: 10px;
  text-indent: 6px;
}

.form__button {
  background-color: #f61602;
  width: 100%;
  height: 32px;
  line-height: 32px;
}

.card-box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2px 10px;
  color: #f72210;
  font-weight: bold;
}

.card-label-custom {
  display: inline-block;
  background-color: #f72210;
  font-weight: bold;
  padding: 2px 10px;
  color: white;
}

.card-box.card-box-secondary {
  color: #3581f4;
}

.card-box.card-box-primary {
  background-color: #f72210;
  color: #fff;
}

.w-9 {
  width: 36px;
}

.h-9 {
  height: 36px;
}

.custom-input {
  border: 1px solid transparent;
  outline: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.search-input {
  top: 20%;
  right: 0;
  transform: translateX(-50%);
  width: 100px;
}

.custom-search-icon {
  top: 0;
  bottom: 0;
  right: 0;
  margin-right: 12px;
}

.bottom-left {
  bottom: 0;
  left: 0;
}
