.debate {
  position: relative;
}

.line__deco::before {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--border-gray);
  height: 1px;
  left: 0;
  right: 0;
  top: 62%;
  margin-left: 16px;
  margin-right: 16px;
}

.line__deco::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--border-gray);
  height: 1px;
  left: 0;
  right: 0;
  margin-left: 16px;
  margin-right: 16px;
  top: 63%;
}

.vs-text {
  position: relative;
  margin-bottom: -10px;
  z-index: 1;
  width: 32px;
  height: 32px;
  color: #d6d6d6;
  border-radius: 50%;
  text-align: center;
}

.op__image {
  max-width: fit-content;
}
