body {
  background-color: var(--gray-1000);
}

.container-box {
  max-width: 1310px;
}

.header-links {
  color: black;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

.header-links:hover {
  text-decoration: none;
  color: var(--red);
}

.nav-1 {
  min-height: 50px;
}

.nav-2 {
  min-height: 95px;
  position: relative;
}

.icon {
  font-size: 1.1rem;
  color: #f2f2f2;
}

.sub__button {
  background-color: var(--yellow);
  border-radius: 24px;
  font-weight: 900;
}

svg {
  fill: white;
}

.header__before1 {
  position: relative;
  background-color: white;
}

.header__bottom {
  width: 100%;
  border-bottom: 1px solid var(--gray-300);
}

.header__bottom > a {
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
}

.search > a {
  font-size: 0.9rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
}

.bottom2 > a {
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-400);
  text-decoration: none;
  font-weight: 500;
}

.header__bottom > a:hover {
  color: var(--red);
}

.header__bottom > span {
  color: var(--gray-200);
}

.search > i {
  font-size: 1rem;
}

.bottom2 {
  background-color: white;
  border-bottom: 1px solid var(--gray-300);
}

.bottom2 > a:hover {
  color: var(--red);
}

.header-box {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-box > * + * {
  border-left: 1px solid var(--gray-300);
}

.header-link {
  color: black;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  cursor: pointer;
}

.header-link:hover {
  text-decoration: none;
  color: var(--red);
}

.header__container {
  padding-right: 150px;
}

.header__container::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 58px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}
