@media only screen and (max-width: 768px) {
  .sm\:mt-3 {
    margin-top: 1rem;
  }
}

.h-news {
  height: 371px;
}

.mb-new {
  margin-bottom: 1.4rem;
}

@media only screen and (max-width: 768px) {
  .sm\:none {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .md\:none {
    display: none;
  }
}
