.text-gray {
  color: rgba(3, 3, 3, 0.5);
}

.text-graylight {
  color: #807f84;
}

.color__blue {
  text-decoration: none;
  color: #3581f4;
}

.color__red {
  color: var(--red);
}

.text-xs {
  font-size: 13px;
}

.text-sm {
  font-size: 12px;
}

.text-lg {
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
}

.text-n {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}

.currentColor {
  fill: var(--red);
}
