:root {
  --font-family-default: inter;
  --red: #f72210;
  --yellow: #ffe400;
  --gray-50: #f7f7f7;
  --gray-200: #e5e7eb;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-700: #3f3f46;
  --gray-800: #1e293b;
  --gray-900: #18181b;
  --gray-1000: #f4f5f6;
  --border-gray: #d9d9d9;
  --light-gray: #f4f5f6;
}
